    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      background-color: #f7f5f5;
    }

    .navbar img {
      padding: 0 15px;
      margin-left: 25px;
      width: 220px;
      height: 50px;
    }

    .navbar {
      position: sticky;
      top: 0;
      z-index: 100;
      width: 100%;
      background-color: #e3e7e3;
      display: flex;
      justify-content: space-between;
      padding: 0 15px;
      border: outset;
    }

    .nav-center {
      display: flex;
      list-style: none;
    }

    .nav-center li {
      margin: 22px;
    }

    .nav-center a {
      text-decoration: none;
      color: #353b3b;
      padding: 23px 15px;
      font-family: khmer os apsara;
      font-size: 20px;
      font-weight: bold;
    }

    .nav-center a:hover {
      color: #04574f;
      box-shadow: 0px 1px 20px 1px #ebd1e3;
    }

    .nav-login {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .btn-nav {
      margin-right: 25px;
      background-color: #e3e7e3;
      padding: 10px 35px;
      font-family: khmer os koulen;
      font-size: 16px;
      border: 0.1px dashed #04574f;
      border-radius: 30px;
    }

    .btn-nav a {
      text-decoration: none;
      color: #353b3b;
      border-radius: 30px;
    }

    .btn-nav:hover {
      box-shadow: 0px 0px 20px 0px #ebd1e3;
      cursor: pointer;
    }
    .btn-nav a:hover{
      color: #04574f;
    }

    .navbar .hambuger {
      cursor: pointer;
      color: black;
      animation: hambuger 1s linear infinite alternate;
      display: none;
    }

    @keyframes hambuger {
      from {
        transform: scale(1);
      }

      to {
        transform: scale(1.2);
      }
    }

    @media (max-width: 1280px) {

      .navbar,
      .hambuger {
        display: flex;
      }

      .nav-center {
        display: none;
      }

      .navbar img,.btn-nav {
        display: flex;

      }
    }

     @media (max-width: 600px) {
      .navbar{
        display: flex;
        align-items: center;
        padding: 10px 0;
      }
      .navbar img{
        display: flex;
        width: 180px;
        height: 40px;
      }
      .nav-login .btn-nav{
        font-size: 12px;
      }
    
     } 

    .cover {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .cover img {
      border-radius: 20px;
      width: 95%;
      height: 45vh;
      object-fit: cover;
      margin-top: 10px;
    }


    .head h1 {
      text-align: center;
      margin-top: 20px;
      font-family: khmer os dangrek;
      color: #353b3b;
    }

    /* Container */
    .container {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(180px,1fr));
      width: 95%;
      margin: auto;
      gap: 15px;
    }

    /* Product Card */
    .container .product-card {
      background-color: #f7f5f5;
      border: 1px solid #dce1e1;
      width: 100%;
      padding: 10px;
      margin-top: 20px;
      border-radius: 5px;
    }
    @media (max-width: 450px){
    .container{
      grid-template-columns: repeat(auto-fill, minmax(130px,1fr));
    }
      
    }

    .product-card:hover,
    .product-card img {
      transform: scale(1.08);
      transition: 0.5s;
    }

    .product-card img {
      width: 100%;
      height: 180px;
      border-radius: 5px;
    }
    .product-name {
      font-family: khmer os battambang;
      font-weight: normal;
      font-size: 16px;
      margin-top: 10px;
    }

    .price {
      font-family: time new roman;
      font-weight: bold;
      color: #04574f;
      font-size: 22px;
      margin-top: 13px;
      margin-bottom: 8px;
    }

    .content {
      font-size: 18px;
      color: rgb(221, 38, 38);
    }

    .btn {
      background-color: #04574f;
      padding: 12px 20px;
      font-size: 18px;
      width: 100%;
      border: none;
      border-radius: 8px;
      color: white;
      margin-top: 20px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 10px;
    }

    .footer{
      background-color: #e3e7e3;
      padding: 20px;
      border: outset;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #04574f;
      margin-top: 20px;
    }
